           * {
               padding: 0;
               margin: 0;
               box-sizing: border-box;
           }
           
           body {
               width: 100%;
           }
           
            :root {
               font-size: 62.5%;
               --ff-p-body: 'Palanquin', sans-serif;
               --ff-every: 'Staatliches', cursive;
               --cor-header: hsla(218, 17%, 62%, 1);
               --cor-p-header: hsla(0, 0%, 100%, 1);
               --cor-background-p-header: hsla(275, 18%, 79%, 1);
               --cor-p-section: hsla(274, 84%, 12%, 1);
               --bg-color-span: hsla(312, 91%, 96%, 1);
           }
           
           header {
               display: flex;
               flex-direction: column;
               align-items: center;
               background: var(--cor-header);
           }
           
           header img {
               width: 13.7rem;
               margin: 3.2rem 12.4rem;
           }
           
           .header {
               font-family: var(--ff-every);
               font-size: 4rem;
               line-height: 3.4rem;
               letter-spacing: 0.05em;
               color: var(--cor-p-header);
               background: var(--cor-background-p-header);
               width: 100%;
               text-align: center;
               margin-bottom: 2.9rem;
               padding: 8px 0;
           }
           
           section {
               display: flex;
               flex-direction: column;
               align-items: center;
               margin: 1.4rem 3.2rem 6rem;
           }
           
           section>p {
               margin-top: 1rem;
               text-align: center;
               font-size: 2rem;
               line-height: 2rem;
               font-weight: 400;
               color: var(--cor-p-section);
           }
           
           .cards img {
               animation: downtop 600ms 300ms backwards;
               -webkit-animation: downtop 600ms 300ms backwards;
           }
           
           .cards img::after(2) {
               width: 32rem;
               height: 45rem;
           }
           
           .cards {
               margin-top: 3.6rem;
               position: relative;
           }
           /* .cards img {
height: 25rem;
} */
           
           .cards p {
               position: absolute;
               left: 18rem;
               top: 2rem;
               background: var(--bg-color-span);
               font-family: var(--ff-every);
               font-weight: 400;
               font-size: 2rem;
               line-height: 3.4rem;
               width: 11.5rem;
               height: 3.5rem;
               letter-spacing: 0.05em;
               color: #4A4E69;
               border-radius: 2rem;
               text-align: center;
               animation: topdown 600ms;
           }
           
           @keyframes topdown {
               0% {
                   opacity: 0;
                   transform: translateY(-30px);
               }
               100% {
                   opacity: 1;
                   transform: translateY(0);
               }
           }
           
           @keyframes downtop {
               0% {
                   opacity: 0;
                   transform: translateY(30px);
               }
               100% {
                   opacity: 1;
                   transform: translateY(0px);
               }
           }